@model List<RecipeList>

<section id="items">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Recipes</h2>
        </div>
      </div>
      @foreach (var item in Model)
      {
          <div class="row">
            <!-- First recipe item -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn">
            <div class="recipe-item text-center">
                <a asp-action="Detail" asp-route-itemid="@item.Id">
                <img src="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/bbq-pork-ribs.jpg" alt="bbq-pork-ribs" /> <!--item.Image -->
                </a>
                <br />
                <h3>@item.Title</h3>
            </div>
            </div>
          </div>
      }
    </div>
</section>