<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic meta info
  ==================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Recipe Book Project</title>

  <!-- Favicon
  ============ -->
  <link rel="apple-touch-icon" sizes="57x57" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/favicon/favicon-96x96.png" />

  <!-- CSS files
  ============== -->
  <link rel="stylesheet" type="text/css" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/css/font-awesome.min.css"  />
  <link rel="stylesheet" type="text/css" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/css/styles.css" />

  <!-- Modernizr file
  =================== -->
  <script charset="utf-8" type="text/javascript "src="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/js/modernizr.custom.js"></script>

</head>

<body>

  <!-- Splash Screen
  ================== -->
  <div id="splash"></div>

  <!-- Website Logo
  ================= -->
  <section id="logo">
    <div class="container text-center wow pulse">
      <img src="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/images/logo-white.svg" alt="logo" />
      <br />
      <h1>Recipe Book Project</h1>
    </div>
  </section>

  <!-- Recipes Categories
  ======================= -->
  @await Component.InvokeAsync("CategoryList")

  <!-- Recipes Items
  ================== -->
  @RenderBody()
  <!-- Website Footer
  =================== -->
  @await Component.InvokeAsync("Footer")

  <!-- JavaScript files
  ===================== -->
  <script charset="utf-8" src="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/js/jquery-3.3.1.min.js"></script>
  <script charset="utf-8" src="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/js/bootstrap.min.js"></script>
  <script charset="utf-8" src="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/js/wow.min.js"></script>
  <script charset="utf-8" src="~/templates/recipe-book-html-template-master/recipe-book-html-template-master/js/scripts.js"></script>
  @RenderSection("JavaScript", false)
</body>

</html>
