<footer>
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-6 col-sm-12 text-center">
          <h3>About</h3>
          <div class="footer-about">
            "A recipe book is one that you use daily and what we in our family
            call 'a living book' — a book that you use all the time,
            not just read once and discard on the shelf.
            Recipes are by nature derivative and meant to be shared -
            that is how they improve, are changed, how new ideas are formed. ”
          </div>
        </div>
        <!-- Author -->
        <div class="col-md-6 col-sm-12 text-center">
          <div class="footer-author">
            Made with
            <i class="fa fa-heart" aria-hidden="true"></i>
            love by
            <a href="https://github.com/TheOryZ" target="_blank">Kadir Turan</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>